{% extends 'base.html' %} {% block content %}
<form method="POST" class="contain">
  <h2 class="welcome">
    Welcome to <br />
    Golf the Card Game
  </h2>

  <h3>Enter Code to join a room or Create a new room</h3>
  <div class="name">
    <input
      type="text"
      placeholder="Name"
      name="name"
      value="{{name}}"
      class="input-field"
    />
  </div>

  <button type="submit" name="create" class="create">Create a Room</button>

  <div class="join">
    <input
      type="text"
      placeholder="Room Code"
      name="code"
      value="{{code}}"
      class="input-field"
    />
    <button type="submit" name="join" class="create">Join a Room</button>
  </div>

  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
{% endblock %}
