{%extends 'base.html' %} {% block content %}
<div>
  <div class = lobby-code>
    Room Code: {{code}}
  </div>
  <div class="in_lobby" class="players" id="players"></div>
  <div class="inputs">
  </div>
  {% if name == host %}
  <div class = "start-button-cont">
    <button id ="start" class = start>
      start
    </button>
  </div>
  {% endif%}
</div>


<script>
  var socketio = io();
  const name = "{{name}}";
  const host = "{{host}}";

  socketio.on("update_players", (data) => {
  const playersDiv = document.getElementById("players");
  playersDiv.innerHTML = ""; // clear

  data.players.forEach(name => {
    playersDiv.innerHTML += `<div class="player-entry"><strong>${name}</strong></div>`;
  });
});

const players = document.getElementById("players");

if( name == host) {
document.getElementById("start").addEventListener("click", function() {
  console.log("Start button clicked!");
  socketio.emit("start_game", { room: "{{code}}" });
  
});

}

socketio.on("game_started", (data) => {
      console.log(data.msg);
      window.location.href = "/game";  
  });

</script>

{% for player in players %}
<script type="text/javascript"></script>
createMessage("{{msg.name}}","{{msg.message}}"); {% endfor %} 

{% endblock %}